<!DOCTYPE html>  
<html lang="en">  
<head>  
    <meta charset="UTF-8">  
    <title>Booking</title>  
</head>  
<body>  
<h2>Hotel XYZ Booking Page</h2> 
<div>
    <form action="", method="POST">
        {% csrf_token %}
        <p>
        Enter Guest Details:
        Name: <input type="text" name="name"/> <br>
        Email: <input type="text" name="email"/> <br>
        Phone No. : <input type="text" name="phno"/> <br>
        Address: <input type="text" name="add"/> <br>
        ID Proof: <input type="file" id="img" accept="image/*" name="idp"/> <br>
        Room Type: <select id="room-type" name="type">
            <option value="Premium">Premium</option>
            <option value="Suite">Suite</option>
            <option value="Excecutive">Executive</option>
          </select><br>
        Reservation Status: <label>Confirmed</label><br>
        <input type="checkbox" id="Yes" name="status" value="Yes">Yes
        <input type="checkbox" id="No" name="status1" value="No">No
        <br>
        Checkin Date: <input type="date" id="start" name="in_date"
        value="2021-07-22"
        min="2018-01-01" max="2021-12-31"><br>
        <input type="submit" value="SUBMIT"/>

        

        </p>
    </form>
</div>
</body>  
</html>  