<!DOCTYPE html>  
<html lang="en">  
<head>  
    <meta charset="UTF-8">  
    <title>Booking Update</title>  
</head>  
<body>  
<h2>Hotel XYZ Update Booking Details</h2> 
<div>
    <form action="", method="POST">
        {% csrf_token %}
        <p>
        Enter Guest Details:<br>

        {% for gds in gdu %}
        <b>Name: {{ gds.name }} <br></b>
        <input type="text" name="name"/> <br>
        <b>Address: {{ gds.address }}<br></b>
        <input type="text" name="add"/> <br>
        <b>Phone No.: {{ gds.ph_no }}<br></b>
        Phone No. : <input type="text" name="phno"/> <br>
        <b>ID Proof: {{ gds.id_proof }} <br></b>
        <input type="file" id="img" accept="image/*" name="idp"/> <br>
        <b>Room Type: {{ gds.room_type }} <br></b>
        Room Type: <select id="room-type" name="type"> 
            <option value="Premium">Premium</option>
            <option value="Suite">Suite</option>
            <option value="Excecutive">Executive</option>
          </select><br>
        <b>Reservation Status: {{ gds.reservation_status }}<br></b>
        Reservation Status: <label>Confirmed</label><br>
        <input type="checkbox" id="Yes" name="status" value="Yes">Yes
        <input type="checkbox" id="No" name="status1" value="No">No
        <br>
        <b>Checkin Date: {{ gds.checkin }}<br></b>
        Checkin Date: <input type="date" id="start" name="in_date"
        value="2021-07-22"
        min="2018-01-01" max="2021-12-31"><br>
        <b>Checkout Date: {{ gds.checkout }}<br></b>
        Checkout Date: <input type="date" id="start" name="out_date"
        value="2021-07-22"
        min="2018-01-01" max="2021-12-31"><br>
        <b>Room No.: {{ gds.room_no }}<br></b>
        Room No: <input type="number" name="roomno">


        <input type="submit" value="UPDATE"/>


        {% endfor %}




        

        </p>
    </form>
</div>
</body>  
</html>  